{
    "plugins": ["prettier", "import", "@babel"],
    "extends": ["standard", "eslint:recommended", "plugin:prettier/recommended"],
    "rules": {
        "semi": ["error", "always"],
        "one-var": "off",
        "space-before-function-paren": "off",
        "no-throw-literal": "off",
        "camelcase": ["error", { "properties": "always" }],
        "no-console": "error",
        "no-alert": "error",
        "no-debugger": "error",
        "prefer-arrow-callback": "error",
        "object-property-newline": "off",
        "no-useless-escape": "off",
        "no-var": "error",
        "prefer-const": "error",
        "no-unused-expressions": "off",
        "strict": ["error", "never"],
        "no-mixed-operators": "off",
        "prefer-promise-reject-errors": "off",
        "standard/no-callback-literal": "off",
        "object-curly-spacing": "off",
        "quote-props": "off",
        "no-new-object": "error",
        "object-shorthand": "error",
        "no-array-constructor": "error",
        "array-callback-return": "error",
        "no-eval": "error",
        "no-new-func": "error",
        "prefer-rest-params": "error",
        "prefer-spread": "error",
        "no-useless-constructor": "error",
        "no-dupe-class-members": "error",
        "no-duplicate-imports": "error",
        "eqeqeq": "error",
        "no-unneeded-ternary": "error",
        "curly": "error",
        "prettier/prettier": "error",
        "no-empty": "off",
        "no-restricted-syntax": [
            "error",
            {
                "selector": "ExportDefaultDeclaration",
                "message": "Prefer named exports"
            }
        ],
        "import/no-webpack-loader-syntax": "off",
        "import/no-relative-parent-imports": "error",
        "import/first": "error",
        "import/no-default-export": "error",
        "@babel/no-unused-expressions": "error",
        "node/no-callback-literal": "off"
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "impliedStrict": true
        },
        "requireConfigFile": false,
        "babelOptions": {
            "plugins": [
                ["@babel/plugin-proposal-class-properties", { "loose": true }],
                ["@babel/plugin-proposal-object-rest-spread", { "loose": true,
                    "useBuiltIns": true
                }],
                "@babel/plugin-proposal-optional-catch-binding",
                "@babel/plugin-proposal-optional-chaining",
                "@babel/plugin-proposal-nullish-coalescing-operator",
                "@babel/plugin-proposal-logical-assignment-operators",
                "@babel/plugin-external-helpers"
            ],
            "parserOpts": {
                "allowReturnOutsideFunction": true
            }
        }
    },
    "parser": "@babel/eslint-parser",
    "globals": {
        "_": true,
        "$": true
    },
    "env": {
        "browser": true
    }
}
